/* Mobile layout */
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

header {
  background-color: rgba(148, 94, 178, 1);
  text-align: center;
  width: 100vw;
}

#brand {
  font-size: 1.953em;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
}

#main-nav > ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

#main-nav > ul > li {
  color: rgba(255, 255, 255, 0.75);
  display: inline;
  font-size: 1em;
  padding: 0 1em;
}

#main-nav .active {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

.container {
  padding: 0 .8em;
}

.section-header {
  background-color: rgba(230, 185, 255, 1);
  display: flex;
  flex-direction: column;
  font-size: 1.75em;
  height: calc(1.75em * 1.75);
  justify-content: center;
  margin: 0 0 .8em 0;
  text-align: center;
  width: 100vw;
}

#bio-pic {
  max-width: 100%;
  padding: 0 10%;
}

#main-text > a {
  color: rgba(111, 80, 127, 1);
  font-weight: 600;
  text-decoration: none;
}

#main-text > a:visited {
  color: rgba(97, 41, 127, 1);
}

footer {
  align-content: center;
  background-color: rgba(148, 94, 178, 1);
  color: rgba(255, 255, 255, .9);
  display: flex;
  flex-flow: row wrap;
  font-size: 1em;
  justify-content: center;
  padding: .5em 0;
  width: 100%;
}

.sub-nav {
  list-style: none;
}

.sub-nav > ul {
  padding-left: 0;
  text-align: center;
}

.sub-nav > ul > li {
  display: inline;
  padding: 0 .5em;
}

.sub-nav > ul > li > a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .container {
    margin: 2em 0;
    width: 90%;
  }

  #about-section {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  #bio-pic {
    height: auto;
    max-width: 33.33%;
    padding: 0;
  }
}
