/* Mobile layout */
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  max-width: 100vw;
  min-height: 100vh;
}

header {
  background-color: rgba(148, 94, 178, 1);
  text-align: center;
  width: 100%;  
}

#brand {
  font-size: 1.953em;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
}

#main-nav > ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

#main-nav > ul > li, #main-nav > ul > li > a {
  color: rgba(255, 255, 255, 0.75);
  display: inline;
  font-size: 1em;
  text-decoration: none;
}

#main-nav > ul > li {
  padding: 0 1em;
}

#main-nav > ul > li > a:hover {
  color: rgba(255, 255, 255, 1);
}

#main-nav .active {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

.container {
  min-height: 66.67vh;
  width: 100vw;
}

.section-header {
  background-color: rgba(230, 185, 255, 1);
  display: flex;
  flex-direction: column;
  font-size: 1.75em;
  height: 10vh;
  justify-content: center;
  margin: 0 0 .8em 0;
  text-align: center;
  width: 100%;
}

/* About page styling */
#bio-pic {
  border-radius: 50%;
  max-width: 50vw;
  padding: 0 10%;
}

.main-text {
  padding: 0 1em;
}

.main-text > a, .description > a {
  color: rgba(111, 80, 127, 1);
  font-weight: 600;
  text-decoration: none;
}

.main-text > a:visited, .description > a:visited {
  color: rgba(97, 41, 127, 1);
}

.big-button {
  background-color: rgba(148, 94, 178, 1);
  border: 0;
  color: rgba(255, 255, 255, .9);
  display: block;
  margin: 0 25vw 1em;
  padding: .5em;
  text-align: center;
  text-decoration: none;
  width: 50vw;
}

.big-button:hover {
  background-color: rgba(230, 185, 255, 1);
  color: rgba(0,0,0,1);
}

/* Portfolio Styling */
#portfolio {
  width: 100%;
}

.portfolio-item {
  align-items: center;
  border-top: 1px solid rgba(177, 127, 204, 1);
  border-bottom: 1px solid rgba(177, 127, 204, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1em;
  max-width: 100%;
}

.portfolio-item > a > img {
  height: auto;
  max-width: 100%;
}

.site-name {
  background-color: rgba(177, 127, 204, 1);
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.25em;
  padding: .5em 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

.description {
  padding: 0 1em;
}

/* Global again */
footer {
  align-content: center;
  background-color: rgba(148, 94, 178, 1);
  color: rgba(255, 255, 255, .9);
  display: flex;
  flex-flow: row wrap;
  font-size: 1em;
  justify-content: center;
  padding: .5em 0;
  width: 100%;
}

.sub-nav {
  list-style: none;
}

.sub-nav > ul {
  padding-left: 0;
  text-align: center;
}

.sub-nav > ul > li {
  display: inline;
  padding: 0 .5em;
}

.sub-nav > ul > li > a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 90%;
  }

  #about-section, #portfolio, #resume {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  #bio-pic {
    height: auto;
    max-width: 33.33%;
    padding: 0;
  }

  .main-text {
    flex: 66.67%;
    margin: 0 0 1em;
    padding: 0 0 0 1em;
  }

  #portfolio {
    align-content: flex-start;
    display: flex;
    justify-content: space-around;
    flex: row wrap;
  }
  
  .portfolio-item {
    border: 1px solid rgba(177, 127, 204, 1);
    width: 45%;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    margin: 2em 0;
    width: 80%;
  }

  #about-section, #portfolio, #resume {
    justify-content: space-around;
  }

  #bio-pic {
    /* margin: 0 5vw; */
    max-width: 15vw;
  }
}
