/* navbar */
.navbar-default {
  background-color: #4aaaa5;
  border-color: #E7E7E7;
}
/* Title */
.navbar-default .navbar-brand {
  color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #007f79;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #D5D5D5;
}

/* Mobile version */

.navbar-default .navbar-toggle .icon-bar {
  background-color: #CCC;
}

#logo {
  font-size: 2em;
}

body a {
  color: #b23d00;
}

body h1, h2, h3, h4, h5, h6 {
  color: #4aaaa5;
}

/* Style fixes */
body {
  background: url("../images/crossword.png");
}

@media only screen and (max-width: 768px) {
  .col-xs-offset-1 {
    margin-top: 1em;
    margin-left: 0;
  }
  #main-text {
    font-size: 1.2em;
  }
  #contact {
    margin-bottom: 15vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .col-md-offset-1 {
    margin-top: 5vh;
  }
  #contact {
    margin-bottom: 10vh;
  }
  #contact-me {
    font-size: 2em;
  }
}

@media only screen and (min-width: 992px) {
 #contact {
    margin-top: 2em;
    margin-left: 0;
  }
  .bottom-row {
    margin-bottom: 10vh;
  }
}

.footer {
  background-color: #666;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 3vh 0 3vh 0;
  font-size: .8em;
  color: #ccc;
  border-top: 1.5vh solid #4aaaa5;
}

#form-submit {
  background-color: #4aaaa5;
  color: #fff;
}

.thumbnail {
  position: relative;
  padding: 0;
}

.caption {
  position: absolute;
  bottom: 5%;
  padding: 10px 0px;
  background-color: #4aaaa5;
  font-size: 1.2em;
  color: #fff !important;
  width: 100%;
}

.thumbnail:hover .caption {
  background-color: #b23d00;
}